<!-- Page Wrapper -->
<div class="page-wrapper">
   <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
         <div class="row">
            <div class="col-sm-6">
               <h5 class="page-title">Overview</h5>
               <!-- <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Overview</li>
                           </ul> -->
            </div>
            <div style="text-align:right;" class="col-sm-6">
               <a href="add_ticket.html"> <button class="btn buttons-pdf buttons-html5 btn-sm mr-1" style="    color: #fff;
                           border-color: #F4891E;
                           background-color: #F4891E;" tabindex="0" aria-controls="" type="button" title="Add"><span><i
                           class="fa fa-plus-square" aria-hidden="true"></i></span> &nbsp; <b>Add
                        Ticket</b></button></a>
               <!-- <h3 class="page-title">Overview</h3> -->
               <!-- <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Overview</li>
                           </ul> -->
            </div>
         </div>
      </div>
      <!-- /Page Header -->
      <div class="row">
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-1"></div>
               <div class="round-2"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/Total.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color: #34C2FF;">100</h1>
                     <p>Total</p>
                  </div>
               </div>
            </div>
            <!-- <div class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/booked.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>25</h3>
                              <h6 class="text-muted">Booked</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <a href="open.html">
               <div class="card">
                  <div class="round-3"></div>
                  <div class="round-4"></div>
                  <div class="inner-content">
                     <div class="image-content">
                        <img src="~/img/icon2.png" alt="">
                     </div>
                     <div class="number-content">
                        <h1 style="color:#F4891E;">25</h1>
                        <p>Open</p>
                     </div>
                  </div>
               </div>
            </a>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/accepted.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>26</h3>
                              <h6 class="text-muted">Accepted</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <a href="accepted.html">
               <div class="card">
                  <div class="round-5"></div>
                  <div class="round-6"></div>
                  <div class="inner-content">
                     <div class="image-content">
                        <img src="~/img/icon3.png" alt="">
                     </div>
                     <div class="number-content">
                        <h1 style="color:#16A000;">20</h1>
                        <p>Accepted</p>
                     </div>
                  </div>
               </div>
            </a>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/rejected.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>19</h3>
                              <h6 class="text-muted">Rejected</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-7"></div>
               <div class="round-8"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon4.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#A40093;">25</h1>
                     <p>Assigned</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/assigned.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>24</h3>
                              <h6 class="text-muted">Assigned</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-9"></div>
               <div class="round-10"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon5.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#3787FF;">87</h1>
                     <p>In-Progress</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/re-assign.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>13</h3>
                              <h6 class="text-muted">Re-assign</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-11"></div>
               <div class="round-12"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon6.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#A00000;">32</h1>
                     <p>On-Hold</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/in-progress.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>13</h3>
                              <h6 class="text-muted">In-Progress</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <a href="re_assign.html">
               <div class="card">
                  <div class="round-13"></div>
                  <div class="round-14"></div>
                  <div class="inner-content">
                     <div class="image-content">
                        <img src="~/img/icon7.png" alt="">
                     </div>
                     <div class="number-content">
                        <h1 style="color:#1BBDA0;">26</h1>
                        <p>Re-assign</p>
                     </div>
                  </div>
               </div>
            </a>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/resolved.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>19</h3>
                              <h6 class="text-muted">Resolved</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-15"></div>
               <div class="round-16"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon8.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#FE0000;">11</h1>
                     <p>Rejected</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/on-hold.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>15</h3>
                              <h6 class="text-muted">On-Hold</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-17"></div>
               <div class="round-18"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon9.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#0400C2;">22</h1>
                     <p>Resolved</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/completed.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>15</h3>
                              <h6 class="text-muted">Completed</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-19"></div>
               <div class="round-20"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon10.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#73BA00;">10</h1>
                     <p>Completed</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/completed.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>15</h3>
                              <h6 class="text-muted">Completed</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
         <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
               <div class="round-21"></div>
               <div class="round-22"></div>
               <div class="inner-content">
                  <div class="image-content">
                     <img src="~/img/icon11.png" alt="">
                  </div>
                  <div class="number-content">
                     <h1 style="color:#FF4FED;">51</h1>
                     <p>Cancelled</p>
                  </div>
               </div>
            </div>
            <!-- <div  class="crd">
                        <div style="background-image: url(~/img/overview.png);
                           background-size: 100% 100%;    
                           background-repeat: no-repeat;" class="card-body">
                           <div class="dash-widget-header">
                              <img src="~/img/completed.png">
                           </div>
                           <div class="dash-widget-info">
                              <h3>15</h3>
                              <h6 class="text-muted">Completed</h6>
                           </div>
                        </div>
                        </div> -->
         </div>
      </div>
      <!-- <div class="row">
                  <div class="col-md-12 col-lg-12">

                     <div class="">
                        <div style="text-align:right;">
                           <img src="~/img/plus.png" width="50" alt="">
                        </div>
                     </div>

                  </div>
                  </div> -->
   </div>
   <br>
   <hr>
   <div class="footer-bottom">
      <div class="container">
         <p style="text-align:center;"><b>© 2023 All Rights Reserved. Developed and Maintained by <img
                  src="~/img/dbzeus.png" alt="Logo" style="width:70px;"></b></p>
      </div>
   </div>
</div>